@import 'reset'; //Resets styles to be uniform across browsers


//*============MIXINS============*/
	//Rounds all corners the same. Default set.
	//ex: @include round; for default
	//or ex: @includ round(20px);
	@mixin round($curve: 10px) {
		-webkit-border-radius: $curve;
		border-radius: $curve;
		-o-border-radius: $curve;
		-ms-border-radius: $curve;
		-moz-border-radius: $curve;
	}
	
	//Applies boxshodow to element. Default set.
	//ex: @include boxshadow; for default
	//ex: @include boxshadow(.30, 0px, 0px, 7px, 1px); to set each variable
	@mixin boxshadow ($trans: .30, $horshad: 0px, $vershad: 0px, $blurshad: 7px, $spreadshad: 1px){
		-webkit-box-shadow:rgba(0, 0, 0, $trans) $horshad $vershad $blurshad $spreadshad;
		box-shadow:rgba(0, 0, 0, $trans) $horshad $vershad $blurshad $spreadshad;
		-o-box-shadow:rgba(0, 0, 0, $trans) $horshad $vershad $blurshad $spreadshad;
		-ms-box-shadow:rgba(0, 0, 0, $trans) $horshad $vershad $blurshad $spreadshad;
		-moz-box-shadow:rgba(0, 0, 0, $trans) $horshad $vershad $blurshad $spreadshad;
	}
	
	//Set up fluid grid system
	//ex: @include grid-unit(3); for 3 columns wide
	$column-width: percentage(60px/980px);
	$gutter-width: percentage(20px/980px);
	@mixin grid-unit($span, $lmargin: 0, $rmargin: 0) {
		width: ($column-width * $span) + ($gutter-width * ($span - 1));
		margin-left: $lmargin;
		margin-right: $rmargin;
	}
//*============END MIXINS============*/


//*============DEFINE COLORS============*/

	$text: #545252;
	$accent: #E6A330;
//*============END DEFINE COLORS============*/


//*============TEXT STYLING============*/
	//Sets text by type
	//ex: @include setfont(menu); for menu text
	//MUST add each font to head.php like this: 
	//		<!--Quicksand - text-->
	//		<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
	@mixin setfont($type) {
		@if $type == text {
			font: {
				family: Arial, Helvetica, sans-serif;
			}
		}
	}	

	body {
		@include setfont(text);
		font-size: 1em;
		color: $text;
	}	

	ul, p {
		line-height:110%;
		text-align:justify;
	}	

	p {
		margin-bottom: 1em;
	}	

	a, a:visited {
		color: $accent;
		text-decoration: none;
		&:hover, &:focus, &:active {
			text-decoration: underline;
		}
	}	

	i, em {
		font-style:italic;
	}	

	strong {
		font-weight:bold;
	}	

	.oops {
		color: red; 
	}
//*============END TEXT STYLING============*/


//*============MAIN PAGE ELEMENTS============*/
	body {
		position:relative; 
		margin: 0 auto;
		// background-image:url(../img/background.jpeg);
		// background-repeat:repeat;
	}	

	#wrapper {
		width: 90%;
		max-width: 940px;
		margin: 20px auto;
		@include round(20px);
		@include boxshadow;
	}	

	.clear {
		clear:both;
	}
//*============END MAIN PAGE ELEMENTS============*/

//*============HEADER============*/
	#header {
		padding: 20px;
		h1 {
			font-size: 3em;
		}
		ul {
			text-align: center;
			li {
				display: inline;
			}
		}
	}
//*============END HEADER============*/

//*============CONTENT============*/
	#content {
		@include grid-unit(12, $gutter-width, $gutter-width);
		.clear-board {
			margin: 0 auto;
			width: 50%;
			text-align: center;
			button {
				cursor: pointer;
				display: inline-block;
				padding: 10px 15px;
				margin: 0 0 20px 0;
				color: white;
				@include round;
				background-color: $accent;
				border: 1px solid $accent;
				&:hover {
					background-color: lighten($accent, 20%);
					color: darken($accent, 20%);
				}
			}
		}
		#etch {
			margin: 0 auto;
			@include boxshadow;
			display: none;
			.row {
				display:block;
				width: 100%;
				.cell {
					display: inline-block;
					padding: 0;
					opacity: 0.2;
				}
			}
		}
		#instructions {
			width: 50%;
			margin: 0 auto;
			padding: 20px 0 0 0;
		}
	}
//*============END CONTENT============*/

//*============FOOTER============*/
	#footer {
		padding:10px;
		clear:both;
		ul {
			text-align: center;
		}
		li {
			display:inline;
		}
		a, a:visited {
			&:hover, &:focus, &:active { 
			}
		}
	}
//*============END FOOTER============*/
