<h1>All Tags</h1>

<ul id="tags">
	<% @tags.each do |tag| %>
		<li>
			<%= link_to tag.name, tag_path(tag) %>
			<%= link_to "delete", tag_path(tag), method: :delete, data: { confirm: "Delete tag?" } %>
		</li>
	<% end %>
</ul>