.DS_Store
.sass-cache
_reset.scss
tasks.todo
serialization_and_files/hangman/hangman_saves.csv
etch_a_sketch/style.scss
etch_a_sketch/_reset.scss
**/log/.keep
**/log/development.log
**/log/test.log
Chapter_04-Advanced_Rails/microblog_rails/tmp
**.sqlite3
**process.md