<header>
  <h1><%= link_to "Kitten API", root_url %></h1>
  <nav>
  	<ul>
  		<li><%= link_to "All kittens", root_path %></li>
  		<li><%= link_to "Add a kitten", new_kitten_path %></li>
  	</ul>
  </nav>
</header>