@import 'reset';

#wrapper {
	width: 960px;
	margin: auto;
	text-align: center;
	min-width: 980px;
}
#logo {
	width: 269px;
	height: 95px;
	padding-top: 192px;
	margin-bottom: 20px;
}

form {
	width: 568px;
	margin: auto;
	left: -2px;
	position: relative;
	.buttons {
		margin-left: 4px;
	}
	input {
		&.input {
			width: 100%;
			height: 26px;
			border: 1px solid lighten(gray, 35%);
			margin-bottom: 14px;
			&:focus {
				outline-style: none;
				outline-width: initial;
				border: 1px solid rgb(52,109,241);
			}
		}
		&.submit {
			background-color: rgba(0,0,0,.05);
			border: 1px solid lighten(gray, 35%);
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-size: 11px;
			padding: 7px 8px 8px 8px;
			margin: 2px 6px;
			color: lighten(black, 30%);
		}
	}
}

#footer {
	background-color: lighten(gray, 45%);
	border: 1px solid lighten(gray, 40%);
	height: 39px;
	display: block;
	font-family: Arial, sans-serif;
	position: fixed;
	width: 100%;
	bottom: 0;
	min-width: 980px;
	a {
		color: lighten(black, 30%);
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.left {
		float: left;
		width: 45%;
		&:first-child {
			margin-left: 16px;
		}
	}
	.right {
		float: right;
		width: 45%;
		text-align: right;
		&:last-child {
			margin-right: 18px;
		}
	}
	ul {
		li {
			position: relative;
			display: inline;
			font-size: 13px;
			top: 11px;
			padding: 12px 13px;
		}
	}
}