<footer>
	<ul>
		<li class="center">Very basic gossip blog built by <a href="http://katemcfaul.com">katemcfaul.com</a></li>
		<li class="center">~~~</li>
		<li>Concept: A visitor to the site gets to see the gossip, but not who posted it. Log in and the names show up.</li>
	</ul>
</footer>