<header>
	<h1><%= link_to "Members Only", root_path, id: "logo" %></h1>
	<ul>
		<% if logged_in? %>
			<li>Welcome, <%= current_user.username %>!</li>
			<li><%= link_to "Log out", logout_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign in", login_path %></li>
		<% end %>
	</ul>
</header>